*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Form{
  position: fixed;
  width: 100%;
  display: flex;
  min-height: 3rem;
  margin-bottom: 5vh;
}

button{
  flex-grow: 1;
  background-color: pink;
}

button.selected{
  background-color: blanchedalmond;
}


/*
ul{
  display: flex;
  flex-direction: column;
  gap: 1vh;
  padding: 4rem 2rem 1rem;
}


ul li{
  background-color: #f8f6f6;
}

*/

.Table{
  background-color: black;
  padding-top: 7vh;
}


tr{
  background-color: #fff;
  border: 1px solid black;
}

tr{
  
}
